/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
.zt-social-networks .zt-social-icon-item{
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 33px;
    margin: 0 5px 5px 0;
    float: left;
    color: #bebdbd;
    transition: all 0.3s ease 0s;
    border: 1px solid transparent;
}
.zt-social-networks .zt-social-icon-item:hover{
    opacity: 0.8;
}