/****************************************************************
 *																*		
 * 						      代码库							*
 *                        www.dmaku.com							*
 *       		  努力创建完善、持续更新插件以及模板			*
 * 																*
****************************************************************/
.chart {
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
}
.chart canvas {
    left: 0;
    position: absolute;
    top: 0;
    max-width: 100%;
}
.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
}
.percent:after {
    content: "%";
    font-size: 0.8em;
    margin-left: 0.1em;
}
.chart [class*="fa-"]{
    font-size: 30px;
}